# Various IDEs and Editors
.vscode/
.idea/

.dfx
.mops
.tmp
.vessel/
.vscode/
*.wasm
dfx.json
package-set.dhall
vessel.dhall
**/.DS_Store

# dfx temporary files
.dfx/



# environment variables
.env

.mops
